---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
  getAllCategories,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import styles from '../styles/blog.module.css'
import Categories from '../components/Categories.astro';
import { getDatabase } from '../lib/notion/client';

const database = await getDatabase()
---

<Layout>
  <div slot="main" class={styles.main}>
    <header>
      <h1>
        {database.Title}
      </h1>
      <div class="description">
        {database.Description}
      </div>
    </header>

    <Categories language="en" />
  </div>

  <div slot="aside" class={styles.aside}>
    <Categories language='en'/>
  </div>
</Layout>
