---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
  getAllCategories,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import styles from '../styles/blog.module.css'
import Categories from '../components/Categories.astro';

---

<Layout>
  <div slot="main" class={styles.main}>
    <Categories />
  </div>

  <div slot="aside" class={styles.aside}>
    <Categories />
  </div>
</Layout>
