---

export interface Props {
  language: string
}

const { language } = Astro.props

import styles from '../styles/blog.module.css'
import { getAllCategories, getAllPosts } from '../lib/notion/client';
import BlogPostsLink from './BlogPostsLink.astro';
import { getCategoryLink } from '../lib/blog-helpers';

const [posts, categories] = await Promise.all([
  getAllPosts(),
  getAllCategories(),
])

---
<div>
  <div slot="aside" class={styles.aside}>
    {
      categories
        .filter((category) => category.Language === language)
        .map((category) => (
        <BlogPostsLink heading={category.Title} headingUrl={getCategoryLink(category.Language, category.Slug)} posts={
          posts
            .filter(post => post.CategoryId === category.PageId)
            .sort((l, r) =>  l.Rank - r.Rank)
        } />
      ))
    }
    <!-- <BlogPostsLink heading="Recommended" posts={rankedPosts} />-->
    <!-- <BlogTagsLink heading="Categories" tags={tags} /> -->
  </div>

</div>
